.blueviolet{
    background-color:blueviolet;
    color: white;
}

.chatbox{
    border-left:3px solid blueviolet;
    flex-grow: 1;
}



.lefty{
    display: flex;
    justify-content: flex-start;
}

.righty{
    display: flex;
    justify-content: flex-end;
}

.samachar{
    display: inline-block;
    max-width: 60%;
    word-wrap: break-word;
    background-color:blueviolet;
    color: white;
    /* border: solid black 1px; */
    border-radius: 5px;
    font-size:15px;
}