.blueviolet{
    background-color:blueviolet;
    color: white;
}

.chatbox{
    border-left:3px solid blueviolet;
    flex-grow: 1;
}

.lefty{
    display:flex;
    justify-content: flex-start;
}

.righty{
    display: flex;
    justify-content: flex-end;
}