<div class="d-flex w-100">
    <div class="m-2 p-2" style="width:250px ;height:440px">
        <!-- <button class="btn btn-sm rounded-3 blueviolet">New chat</button> -->
         users goes here
    </div>
    <div class="d-flex flex-column m-2 p-2 chatbox">
        <div class="p-2 border" style="height: 35px;">
            receiver name and other stuff goes here
        </div>
        <div class="flex-grow-1 overflow-auto p-2">
            chat messages goes here
        </div>
        <div class="d-flex justify-content-between" style="height:38px;">
           <input type="text" placeholder="type here" class="flex-grow-1 rounded-2">
           <button class="btn btn-outline-dark">send</button>
        </div>
    </div>
</div>