<div class="container-fluid vh-100">
    <div class="row h-100">
        <div class="col-sm-6 d-flex justify-content-center align-items-center">
            <div class="w-75">
            <h2>Reset Password</h2>
            <p class="text-muted"></p>
            <form class="form-group mx-auto" [formGroup]="resetForm" (ngSubmit)="reset()">
                <!-- Password -->
                <div class="mb-1">
                    <label class="form-label small" for="password">Password*</label>
                    <input type="password" class="form-control w-75" id="password" placeholder="Create a password"
                        formControlName="password">
                    <div class="text-danger small" *ngIf="resetForm.get('password')?.invalid && resetForm.get('password')?.touched">
                        <p *ngIf="resetForm.get('password')?.errors?.['minlength'] ; else fieldError">Must be atleast 8 characters</p>
                        <ng-template #fieldError><p >This field is required</p></ng-template>
                    </div>
                </div>

                <!-- Confirm Passord  -->
                <div class="mb-3">
                    <label class="form-label small" for="password">Confirm Password*</label>
                    <input type="password" class="form-control w-75" id="password" placeholder="Reenter the password"
                        formControlName="confirmPass">
                </div>

                <input type="submit" class="btn btn-primary w-75" value="Reset Password" [disabled]="resetForm.invalid"><br><br>
            </form>
            </div> 
        </div>
        <div class="col-sm-6 p-0">
                <img src="../../../../assets/images/loginPage.jpg" alt="img" class="img-fluid h-100 w-100" style="object-fit: cover;">
        </div>
    </div>

</div>