<div class="d-flex flex-column">
  <div class="d-flex justify-content-between mt-3 px-2">
    <div><h5>Inventory movements</h5></div>
    
    <div *ngIf="toggle==='view'">
      <button class="btn btn-outline-dark mx-1"  data-bs-toggle="modal" data-bs-target="#cart" (click)="onClickingMove()">Move to cart</button>
      <button class="btn btn-outline-dark mx-1" (click)="downloadAll()">Download all</button>
      <button class="btn btn-outline-dark mx-1"  data-bs-toggle="modal" data-bs-target="#import">
        <img class="px-1" src="../../../../assets/images/upload_cloud_white.svg" alt=""/>
        Import
      </button>
      <button class="btn mx-1" style="background-color: rgb(143, 66, 216); color: white"
              data-bs-toggle="modal" data-bs-target="#addProduct"> 
        + Add product
      </button>
    </div>
  </div>
 

  <div class="d-flex justify-content-between mt-3 px-2">
    <div>
      <button class="btn btn-outline-dark btn-sm" (click)="toggle='view'">View all</button>
      <button class="btn btn-outline-dark btn-sm" (click)="toggle='cart'">Cart</button>
    </div>

    <div class="px-3">
      <div class="d-flex justify-content-between">
        <input type="text" class="form-control p-0 m-0" placeholder="Search" aria-label="search" aria-describedby="addon-wrapping" (input)="onSearch($event)">
        <div class="dropdown">
          <div class="btn"  type="button" data-bs-toggle="dropdown" aria-expanded="false" role="button">Filters</div>
          <ul class="dropdown-menu text-sm small p-1">
            <li><input type="checkbox" class="px-1" [checked]="filterCols.includes('product_name')" (change)="filterChange($event,'product_name')">Product name</li>
            <li><input type="checkbox" class="px-1" [checked]="filterCols.includes('category')" (change)="filterChange($event,'category')">Category</li>
            <li><input type="checkbox" class="px-1" [checked]="filterCols.includes('vendor_name')" (change)="filterChange($event,'vendor_name')">Vendors</li>
            <li><input type="checkbox" class="px-1" [checked]="filterCols.includes('quantity_in_stock')" (change)="filterChange($event,'quantity_in_stock')">Quantity</li>
            <li [hidden]="toggle=='cart'"><input type="checkbox" class="px-1" [checked]="filterCols.includes('measure')" (change)="filterChange($event,'measure')">Unit</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div>
     <app-view [text]="text" [newTable]="newTable" [toggle]="toggle" *ngIf="toggle==='view'"></app-view>
     <app-cart [text]="text" [toggle]="toggle"  *ngIf="toggle==='cart'"></app-cart>
  </div>

 
</div>



<!-- Modals -->
<!-- Add product modal -->

<div class="modal fade" id="addProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content m-0">
      <div class="modal-header m-1">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add product</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body m-1">
        <form class="form-group mx-auto m-1" [formGroup]="productForm">
  
          <label class="form-label small m-1" for="productName" style="font-size: 0.85rem;">Product name</label>
          <input type="text" class="form-control w-60 m-1" id="productName" placeholder="Enter product name" formControlName="productName">
          
          <div class="mb-3 m-1">
            <label for="category" class="form-label small" style="font-size: 0.85rem;">Select category</label>
            <select class="form-select w-60" id="category"  style="font-size: 0.85rem;" formControlName="category">
              <option value="" selected disabled>Choose a category</option>
              <option *ngFor="let category of categories" [value]="category.category_id"> {{category.category}}</option>
            </select>
          </div>

          <div class="mb-3 m-1">
            <label for="vendorSelect" class="form-label small" style="font-size: 0.85rem;">Select Vendor</label>
            <select class="form-select w-60" id="vendorSelect" style="font-size: 0.85rem;" formControlName="vendor">
              <option  value="" selected disabled>Choose a vendor</option>
              <option *ngFor="let vendor of vendors" [value]="vendor.vendor_id">{{vendor.vendor_name}}</option>
            </select>
          </div>

          <label class="form-label small m-1" for="stock" style="font-size: 0.85rem;">Quantity in stock</label>
          <input type="text" class="form-control w-60 m-1" id="stock" placeholder="Enter quantity" formControlName="quantity">

          <label class="form-label small m-1" for="unit" style="font-size: 0.85rem;">Unit</label>
          <input type="text" class="form-control w-60 m-1" id="unit" placeholder="Enter unit" formControlName="measure">
          
          <label class="form-label small m-1" for="price" style="font-size: 0.85rem;">Price</label>
          <input type="text" class="form-control w-60 m-1" id="price" placeholder="Enter unit" formControlName="price">
        
        
          <!-- <div class="mb-3">
            <label for="statusSelect" class="form-label small m-1" style="font-size: 0.85rem;">Select Status</label>
            <select class="form-select w-60 m-1" id="statusSelect" name="status" style="font-size: 0.85rem;" formControlName="status">
              <option selected disabled>Choose a status</option>
              <option value="active">Active</option>
              <option value="inactive">Inactive</option>
              <option value="pending">Pending</option>
              <option value="suspended">Suspended</option>
            </select>
          </div> -->
          
          <label class="form-label small">Upload product image</label><br>
          <div class="d-flex justify-content-center file-upload-box border" >
            <p *ngIf="addFile_name else inputUI">{{addFile_name}}</p>
            <ng-template #inputUI>
              <label class="w-100  d-flex flex-column py-2 justify-content-center align-items-center">
                <img src="../../../../assets/images/upload_cloud_white.svg" width="30">
                <input class="position-absolute" type="file" hidden formControlName="uploadImg" height="40" (change)="onFileSelected($event)">
                <p class="text-muted text-sm small">Click here to upload</p>
              </label>
            </ng-template>
          </div>
      
        </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="addFile_name=''">Close</button>
        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal" [disabled]="productForm.invalid" (click)="onAddingProduct()">Add product</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal for Import -->
<div class="modal fade" id="import" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="exampleModalLabel">Upload and attach files</h2><br>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label class="form-label small">Import an excel file</label><br>
        <div class="d-flex justify-content-center file-upload-box border" >
          <div class="d-flex flex-column">
            <p  class="text-sm small m-0 p-0" *ngIf="import_name else importUI">{{import_name}}</p>
            <p class="text-sm text-danger small m-0 p-0" *ngIf="!valid_import_file && import_name">Select valid excel file</p>
         </div>
          <ng-template #importUI>
            <label class="w-100  d-flex flex-column py-2 justify-content-center align-items-center">
              <img src="../../../../assets/images/upload_cloud_white.svg" width="30">
              <input class="position-absolute" type="file" accept=".xls,.xlsx" hidden height="40" (change)="importFileSelected($event)">
              <p class="text-muted text-sm small">Click here to upload</p>
            </label>
          </ng-template>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="import_name=''">Close</button>
        <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" [disabled]="!valid_import_file" (click)="uploadExcelFile()">Upload File</button>
      </div>
    </div>
  </div>
</div>


<!-- Move to cart modal -->

<div class="modal fade" id="cart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="exampleModalLabel">Move to cart</h2><br>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-light">
          <thead>
            <tr>
              <th scope="col"> <input type="checkbox" class="form-check-input mx-1 c_custom" id="btncheckmain" autocomplete="off">
                  <label for="btncheckmain">Product name</label></th>
              <th scope="col">Created At</th>
              <th scope="col">Category</th>
              <th scope="col">Vendors</th>
              <th scope="col">Quantity</th>
             
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of moveCartData; let i=index" class="text-sm small">
              <td>
                  <div class="d-flex">
                  <input type="checkbox" class="form-check-input mx-1 c_custom" id="btncheck" autocomplete="off" (change)="onCheckChange($event,i,product.product_id)">
                  <img src="" alt="" class="rounded-circle" height="10" width="10" *ngIf="product.pruduct_image else firstLetter">
                  <ng-template #firstLetter>
                      <div class="rounded-circle me-2" style="width:20px;height: 20px; background-color: rgb(186, 152, 206);">
                         <h6 class="px-1" style="color:white;">{{product.product_name?.charAt(0)| uppercase}}</h6>
                      </div>
                 </ng-template>
                  {{product.product_name}}
                  </div>
              </td>
                  
              <td>{{product.created_at | date:'dd-MM-yyyy hh:mm a'}}</td>
              <td>{{product.category}}</td>
              <td class="d-flex">
                <select class="py-1 m-1 rounded-2" (change)="selectingVendor($event,product.product_id,i)">
                  <option selected value="">Select vendor</option>
                  <option *ngFor="let vendor of product.vendors.split(',')">{{vendor}}</option>
                </select>
              </td>
              <td>
                <button class="btn btn-outline-dark rounded-2 px-1 py-1 border" (click)="increase(i,product.product_id)" [disabled]="product.selectedQuantity==product.quantity_in_stock">+</button>
                {{ absolute(product.selectedQuantity) }}
                <button class="btn  btn-outline-dark px-1 py-1 border" (click)="decrease(i,product.product_id)" [disabled]="product.selectedQuantity==0">-</button>
              </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onSavingChanges()">Save changes</button>
      </div>
    </div>
  </div>
</div>


