<div class="d-flex flex-column">
    <div class="d-flex justify-content-between mt-3 px-2">
      <div><h5>Inventory movements</h5></div>
      <div>
        <button class="btn btn-outline-dark mx-1" >Move to cart</button>
        <button class="btn btn-outline-dark mx-1">Download all</button>
        <button class="btn btn-outline-dark mx-1">
            <img class="px-1" src="../../../../assets/images/upload_cloud_white.svg" alt="">Import
        </button>
        <button class="btn mx-1" style="background-color: rgb(143, 66, 216); color:white;">+ Add product</button>
      </div>
    </div>
    
</div>