<div class="d-flex flex-column p-1">
   <div class="m-2">Files Upload</div>
   <div class="d-flex mx-2">
     <button class="btn btn-outline-dark" (click)="downloadZipFiles()">Download all</button>
     <button class="btn px-2 ms-1" style="background-color: blueviolet; color: white;"
         data-bs-toggle="modal" data-bs-target="#fileUpload">
        <img class="p-1" src="../../../../assets/images/upload-cloud.svg">Upload
    </button>
   </div>
   
   <div class="py-2">
    <table class="table table-light table-hover">
      <thead>
        <tr>
          <th scope="col"> <input type="checkbox" class="form-check-input mx-1 c_custom" id="btncheckmain" autocomplete="off" (change)="tickAll($event)">
              <label for="btncheckmain">File name</label></th>
        </tr> 
        <!-- files table -->
      </thead>
      <tbody>
        <tr *ngFor="let file of fileData; let i=index" class="text-sm">
          <td>
            <div class="d-flex m-0 p-0">
              <input type="checkbox" class="form-check-input mx-1 c_custom" id="btncheck" autocomplete="off" [checked]="tick" (change)="onCheckChange($event,i)">
              <img src="" alt="" class="rounded-circle" height="10" width="10" *ngIf="file.file_image else firstLetter">
              <ng-template #firstLetter>
                  <div class="rounded-circle me-2 m-1 p-0" style="width:20px;height: 20px; background-color: rgb(186, 152, 206);">
                     <h6 class="px-1" style="color:white;">{{file.file_name?.charAt(0)| uppercase}}</h6>
                  </div>
             </ng-template>
             <div class="d-flex flex-column m-0 p-0"> 
               <p class="text-sm small m-0">{{file.file_name}}</p>
              <p class="text-muted small m-0">{{file.file_size/1024 | number:'1.0-0' }}Kb</p>
             </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
   </div>
</div>


<!-- upload Modal -->

<div class="modal fade" id="fileUpload" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-sm">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="exampleModalLabel">Upload and attach files</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
        <form [formGroup]="fileUploadForm">
        <label class="form-label small">Upload product image</label><br>
        <div class="d-flex justify-content-center file-upload-box border" >
          <label class="w-100  d-flex flex-column py-2 justify-content-center align-items-center">
            <img src="../../../../assets/images/upload_cloud_white.svg" width="30">
            <input class="position-absolute" type="file" hidden height="40" formControlName="file" (change)="onAddingFile($event)">
            <p class="text-muted text-sm small">Click here to upload</p>
          </label>
       </div>
       </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="fileUploadForm.invalid" (click)="uploadFile()">Save changes</button>
       </div>
     </div>
   </div>
 </div>