.notifications{
    max-height: 40vh;
}

.each{
    border:solid rgb(178, 136, 218) 1px;
}

.notehead{
    color:rgb(65, 64, 64);
}

.markread{
    cursor: pointer;
}

.badge {
    position: absolute;
    top: 0;
    right:0;
    background:white ;
    color: gray;
    border: solid rgb(170, 168, 168) 1px;
    font-size: 11px;
    font-weight: bold;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(5%, -5%);
  }